body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #99edc3;
    color: #373737;
}

.playerImgs,
.computerImgs {
    display: flex;
    width: auto;
    justify-content: space-between;
    background-color: rgb(179, 179, 225);
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

img {
    width: 90px;
    height: 90px;
}

.pImg:hover {
    cursor: pointer;
    width: 110px;
    height: 110px;
}

.winner {
    width: 100%;
}

.reset {
    display: none;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    color: black;
    font-size: x-large;
    border: 1px solid black;
    border-radius: 5px;
}

.reset:hover {
    cursor: pointer;
}

.winnerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active {
    width: 110px;
    height: 110px;
}